@use "../../abstracts/colors" as color;

.dropdown-container {
  max-width: 400px;
  width: 100%;
  position: relative;
}

.dropdown-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 46px;
  background-color: color.$white;
  border-radius: 16px;
  border: 2px solid color.$light-blue;
  font-family: sans-serif;

  box-shadow: rgba(211, 221, 247, 0.5) 0px 0em 1px 4px,
    rgba(221, 226, 248, 0.3) 0px 2px 16px 0px;
}

@media (hover: hover) {
  .dropdown-button {
    cursor: pointer;
  }
}
.dropdown-button span {
  color: color.$gray;
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
}
.dropdown-button span {
  color: color.$gray;
  font-weight: 500;
  font-size: 16px;
}

.dropdown-list-container {
  position: absolute;
  top: 56px;
  width: 100%;
  background-color: color.$white;
  border-radius: 24px;
  border: 2px solid #efefef;
  z-index: 10;
  padding-left: 12px;
  box-shadow: #efefef 0px 0em 1px 1px, #efefef 0px 2px 16px 0px;

  overflow: visible;

  opacity: 0;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transform-origin: top center;
  transform: scaleY(0);
}
.dropdown-item:last-child {
  margin-bottom: 12px;
}
.dropdown-item:first-child {
  margin-top: 12px;
}

.dropdown-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  overflow-y: scroll;
  height: 250px;
  padding-right: 4px;
}
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  color: #777b85;
  font-weight: 500;
  font-size: 16px;
  padding: 12px;
  border-radius: 10px;

  transition: background-color 100ms ease-in-out;
}

.dropdown-item:hover {
  background-color: #f6f7fa;
  color: #778ce3;
  cursor: pointer;
}

.dropdown-item.selected {
  background-color: #f2f4ff;
  color: #778ce3;
}

.dropdown-list-container.active {
  max-height: 300px;
  opacity: 1;
  transform: scaleY(1);
  opacity: 1;
}

.chevron-icon-container{
  width: 18px;
  height: 18px;
}

.chevron {
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
}
.chevron.open {
  transform: rotate(-180deg);
}

.selected-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.selected-items span {
  margin-right: 8px;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dropdown-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 46px;
  background-color: color.$white;
  border-radius: 12px;
  border: 2px solid #d5d8dc;
  font-family: sans-serif;
  color: color.$light-gray;
  font-weight: 500;
  font-size: 14px;
  margin-top: 12px;
  cursor: pointer;
}
.dropdown-input:focus {
  outline: color.$blue;
  border: 2px solid color.$light-blue;
  box-shadow: rgba(211, 221, 247, 0.5) 0px 0em 1px 2px,
    rgba(221, 226, 248, 0.3) 0px 2px 16px 0px;
}
.dropdown-input::placeholder {
  color: color.$gray;
  font-weight: 500;
  font-size: 14px;
  width: fit-content;
}
